extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let handbagsid = toShow._id
    - let Dimensions = toShow.Dimensions
    - let Color = toShow.Color
    - let Price  = toShow.Price
    - let actionid = "/resource/handbags/" + handbagsid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='handbagsAttr mr-3') handbags ID is:
        div #{handbagsid}
      div.row
        div(class='handbagsAttr mr-3') Dimension is:
        div #{Dimensions}
      div.row
        div(class='handbagsAttr mr-3') Color is:
        div #{Color}
      div.row
        div(class='handbagsAttr mr-3') Price is:
        div #{Price}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the handbags collection
      window.location.href='/handbags'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/handbags'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }

      
