extends layout

block content
  h1= title
  - let handbags=results;
  div(class="container-fluid")
   div(class="row m-1")
    each Handbag in handbags
     - let destination=`buy(\"/handbags/update?id=${Handbag._id}\")`
     div(class="col-sm-4  btn btn-light") #{Handbag.Dimensions} - #{Handbag.Color} - #{Handbag.Price}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
  
   script.
    function buy(path){
        window.location.href=path

        //alert(`You purchased Item ${a+1}`)
      }