extends layout

block content
  h1(id="title")= title

  if (toShow == null)
    h2 No instance to delete
  else
  - let handbagsid = toShow._id
  - let Dimensions = toShow.Dimensions
  - let Color = toShow.Color
  - let Price  = toShow.Price
  
  div
    div.row
      div(class='handbagsAttr mr-3') handbags ID is:
      div(class="values") #{handbagsid}
    div.row
      div(class='handbagsAttr mr-3') Dimension is:
      div(class="values") #{Dimensions}
    div.row
      div(class='handbagsAttr mr-3') Color is:
      div(class="values") #{Color}
    div.row
      div(class='handbagsAttr mr-3') Price is:
      div(class="values") #{Price}
    