extends layout

block content
  h1= title
    - let handbags  = results
  div(class="container-fluid mt-3")
  div(class="row")
    each Handbags,index in handbags  
      div(class="col-sm-4")  #{Handbags.Dimensions} - #{Handbags.Color} -#{Handbags.Price}
     
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }