extends layout

block content
  h1= title
  - let handbags=results
  div(class="container-fluid")
  div(class="row m-1")
    each Handbag in handbags
      - let destinationupdate = `dispatch(\"/handbags/update?id=${Handbag._id}\")`
      - let destinationcreate = `dispatchCreate(\"/handbags/create\")`
      - let destinationdelete = `dispatchDelete(\"/handbags/delete?id=${Handbag._id}\")`
        div(class="col-sm-4  btn btn-light") #{Handbag.Dimensions} - #{Handbag.Color} - #{Handbag.Price} 
          button.btn( class="btn-primary ml-1", onclick= destinationcreate) Create
          button.btn( class="btn-info ml-1", onclick= destinationupdate) Update
          button.btn( class="btn-danger ml-1", onclick= destinationdelete) Delete
  script.
      function dispatch(path){
      window.location.href=path
      }
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
      function dispatchCreate(path){
        window.location.href=path
      }
      function dispatchDelete(path){
        window.location.href=path
      }